@using ChooseAndBuy.Web.ViewModels.ShoppingCart

@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Cart";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/jquery.validate.js"></script>
<script src="~/lib/jquery-validate-unobtrusive/jquery.validate.unobtrusive.js"></script>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr id="@product.Id">
                                <td>
                                    <div class="media">
                                        <div style="height: 130px; width: 130px;">
                                            <img src="~/img/product/@product.ImageName" style="max-height: 130px; max-width: 130px;" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="text-primary ml-5">
                                                <a asp-action="details" asp-controller="products" asp-route-id="@product.Id" asp-area="">
                                                    @product.Name
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$@product.Price</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <a>

                                        </a>
                                        <input type="text" name="qty" id="sst" maxlength="12" value="@product.Quantity" title="Quantity:"
                                               class="input-text qty">
                                        <form method="post">
                                            <button asp-controller="ShoppingCart" asp-action="UpdateProductCount" asp-route-ProductId="@product.Id" asp-route-Quantity="@(product.Quantity + 1)"
                                                    class="increase items-count" type="submit">
                                                <i class="lnr lnr-chevron-up"></i>
                                            </button>
                                            <button asp-controller="ShoppingCart" asp-action="UpdateProductCount" asp-route-ProductId="@product.Id" asp-route-Quantity="@(product.Quantity - 1)"
                                                    class="reduced items-count" type="submit">
                                                <i class="lnr lnr-chevron-down"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <h5>$@product.TotalPrice</h5>
                                </td>
                                <td>
                                    <a id="@product.Id" accesskey="@product.TotalPrice" class="removeProduct genric-btn danger radius text-dark">
                                        Remove
                                    </a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5 class="totalP" id="@Model.TotalPrice">$@Model.TotalPrice</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a asp-action="Index" asp-controller="Products" class="gray_btn">Continue Shopping</a>
                                    <a class="primary-btn" id="checkoutBtn" asp-action="Index" asp-controller="Orders">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
@section Scripts {
    <script>
        $(".removeProduct").click(function () {

            var prdId = $(this).attr("id");
            var prdPrice = $(this).attr("accesskey");
            var totalPrice = $(".totalP").text().substr(1);

            var JSONObject = {
                "productId" : prdId
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("Remove", "ShoppingCart")",
                data: JSONObject,
                dataType: "json",
                success: function () {
                    $("#" + prdId).fadeOut();

                    var newPrice = parseFloat(totalPrice) - parseFloat(prdPrice);

                    $(".totalP").text("$" + newPrice.toFixed(2));

                    if (newPrice == 0) {
                        $("#checkoutBtn").hide();
                    }
                }
            });
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}