@using ChooseAndBuy.Web.ViewModels.Administration.Products

@model AllProductsViewModel

@{
    ViewData["Title"] = "All Products";
}

<div class="container">
    <div class="row">
        <partial name="~/Views/Shared/_AdminPanePartial.cshtml" />
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Content Section -->
            <section class="container mt-4 mb-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Category</th>
                            <th scope="col">Recommended</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr id="@product.Id">
                                <td hidden><button id="prdId" value="@product.Id"></button></td>
                                <td class="text-warning">
                                    <strong>
                                        <a asp-action="details" asp-controller="products" asp-route-id="@product.Id" asp-area="">
                                            @product.Name
                                        </a>
                                    </strong>
                                </td>
                                <td>$@product.Price</td>
                                <td>@product.SubCategoryName</td>
                                @if (product.IsRecommended)
                                {
                                    <td id="rcm-@product.Id">Yes</td>
                                }
                                else
                                {
                                    <td id="rcm-@product.Id">No</td>
                                }
                                <!-- Start Single Row Buttons -->
                                <td>
                                    <a asp-action="edit" asp-controller="products" asp-area="administration" asp-route-productId="@product.Id" class="genric-btn primary radius text-dark">
                                        Edit
                                    </a>
                                </td>
                                @if (product.IsRecommended)
                                {
                                    <td><a class="recommendAction recommendAction-@product.Id genric-btn success radius text-dark" id="@product.Id">Recommended</a></td>
                                }
                                else
                                {
                                    <td><a class="recommendAction recommendAction-@product.Id genric-btn danger radius text-dark" id="@product.Id">Recommended</a></td>
                                }
                                @if (product.IsHidden)
                                {
                                    <td><a class="deleteAction deleteAction-@product.Id genric-btn success radius text-dark" id="@product.Id">Show</a></td>
                                }
                                else
                                {
                                    <td><a class="deleteAction deleteAction-@product.Id genric-btn danger radius text-dark" id="@product.Id">Hide</a></td>
                                }
                                <!-- End Single Row Buttons -->
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
            <!-- End Content Section -->
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/productsAll.js"></script>
}