@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>Easy and fast registration. Be a part of the shopping community!</p>
                        <a class="primary-btn" href="/Identity/Account/Register">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <form id="account" class="row login_form mt-4" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-md-12 form-group">
                            <label asp-for="Input.Username" class="float-left"></label>
                            <input asp-for="Input.Username" class="form-control" />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="Input.Password" class="float-left"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="float-left d-flex align-items-center">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </div>
                    </form>
                    @if ((Model.ExternalLogins?.Count ?? 0) > 0)
                    {
                        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal d-flex justify-content-center">
                            <div class="col-md-9">
                            <div class="d-flex justify-content-around mb-2">

                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <div>
                                        @if (provider.Name == "Facebook")
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-facebook"></i> @provider.DisplayName</button>
                                        }
                                        else if (provider.Name == "Google")
                                        {
                                            <button type="submit" class="btn btn-danger" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-google-plus"></i> @provider.DisplayName</button>
                                        }
                                    </div>

                                }
                            </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}