@using ChooseAndBuy.Web.ViewModels.Products

@model AllDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Details</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="index" asp-controller="home">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a asp-action="index" asp-controller="products">Products<span class="lnr lnr-arrow-right"></span></a>
                    <a>Product-Details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6 offset-lg-1">
                <div class="s_product_inner">
                    <div style="width: 500px; height: 500px; text-align: center">
                        <img src="~/img/product/@Model.DetailsInfo.ImageName" style="width: auto;max-height: 100%;"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="s_product_text">
                    <h3>@Model.DetailsInfo.Name</h3>
                    <h2>$@Model.DetailsInfo.Price</h2>
                    <ul class="list">
                        <li><a class="active"><span>Category</span> : @Model.DetailsInfo.Category</a></li>
                        <li><a><span>Availibility</span> : In Stock</a></li>
                    </ul>
                    <p>
                        @if (Model.DetailsInfo.Description.Length <= 200)
                        {
                            @Model.DetailsInfo.Description
                        }
                        else
                        {
                            @(Model.DetailsInfo.Description.Substring(0, 200) + "...")
                        }
                    </p>
                    <div class="product_count">
                        <label for="qty">Quantity:</label>
                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="lnr lnr-chevron-up"></i>
                        </button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button">
                            <i class="lnr lnr-chevron-down"></i>
                        </button>
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <button hidden id="productIdValue" value="@Model.ReviewModel.ProductId"></button>
                        <input class="addCart primary-btn" id="addCart" type="button" value="Add to Cart" />
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                    <div><h4 class="successP text-success mt-3" hidden>Product added to cart!</h4></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">Specification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                   aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                @Model.DetailsInfo.Description
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                @Model.DetailsInfo.Specification
            </div>
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-12">
                                <div class="box_total">
                                    <h5>Overall</h5>
                                    @if (Model.DetailsInfo.Reviews.Count() == 0)
                                    {
                                        <h4>0</h4>
                                    }
                                    else
                                    {
                                        <h4>@(Model.DetailsInfo.Reviews.Sum(x => x.Rating) / Model.DetailsInfo.Reviews.Count())</h4>
                                    }
                                    <h6>(@Model.DetailsInfo.Reviews.Count() Reviews)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="review_list mt-3">
                            @if (Model.DetailsInfo.Reviews.Count == 0)
                            {
                                <div class="mt3 text-center">
                                    <h4>There are no user reviews for this product.</h4>
                                </div>
                            }
                            @foreach (var rev in Model.DetailsInfo.Reviews)
                            {
                                <div class="review_item">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4>@rev.ClientFullName</h4>
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= rev.Rating)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star-o"></i>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <p>
                                        @rev.Comment
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Add a Review</h4>
                            <form class="row contact_form" method="post" id="contactForm">
                                <input asp-for="ReviewModel.ProductId" type="hidden" name="ProductId" id="ProductIdValue" />
                                <div class="col-md-12 text-warning">
                                    <p class="text-dark">Your Rating:</p>
                                    <i class="ratingStar fa fa-star fa-lg" dataValue="1"></i>
                                    <i class="ratingStar fa fa-star fa-lg" dataValue="2"></i>
                                    <i class="ratingStar fa fa-star fa-lg" dataValue="3"></i>
                                    <i class="ratingStar fa fa-star fa-lg" dataValue="4"></i>
                                    <i class="ratingStar fa fa-star fa-lg" dataValue="5"></i>
                                    <p class="text-dark">Outstanding</p>
                                    <input asp-for="ReviewModel.Rating" type="hidden" name="Rating" id="ratingsValue" />
                                    <span asp-validation-for="ReviewModel.Rating" class="text-danger"></span>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="form-group">
                                        <label asp-for="ReviewModel.ClientFullName"></label>
                                        <input asp-for="ReviewModel.ClientFullName" type="text" class="form-control" id="name" name="clientFullName" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Full name'">
                                        <span asp-validation-for="ReviewModel.ClientFullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="ReviewModel.Comment"></label>
                                        <textarea asp-for="ReviewModel.Comment" class="form-control" name="comment" id="comment" rows="1" placeholder="Comment" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Comment'"></textarea>
                                        <span asp-validation-for="ReviewModel.Comment" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="primary-btn">Submit Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->
<!-- Start related-product Area  (RECOMMENDATIONS)-->
<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/img/r11.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="~/img/category/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End related-product Area -->
@section Scripts{
    <script>
        $(".ratingStar").hover(function () {
            $(".ratingStar").addClass("fa-star-o").removeClass("fa-star");

            $(this).addClass("fa-star").removeClass("fa-star-o");
            $(this).prevAll(".ratingStar").addClass("fa-star").removeClass("fa-star-o");
        });

        $(".ratingStar").click(function () {
            var starRating = $(this).attr("dataValue");

            $("#ratingsValue").val(starRating);
        });

        $("#addCart").click(function () {

            var property1 = $("#productIdValue").val();
            var property2 = $("#sst").val();

            var JSONObject = {
                "ProductId" : property1,
                "Quantity" : property2
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("Add", "ShoppingCart")",
                data: JSON.stringify(JSONObject),
                success: function () {
                    $(".successP").removeAttr("hidden").delay(2000).fadeOut();
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });


        });

    </script>

    <partial name="_ValidationScriptsPartial" />
}