@using ChooseAndBuy.Web.ViewModels.Orders

@model UserOrdersViewModel

@{
    ViewData["Title"] = "My Orders";
}

<!-- Start Table Area -->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="login-form">
                <table class="table">
                    <h3 class="text-center">My Orders</h3>
                    <hr style="height: 3px"/>
                    <thead>
                        <tr>
                            <th scope="col">Address</th>
                            <th scope="col">Expected Delivery</th>
                            <th scope="col">Status</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.Orders)
                        {
                            <tr>
                                <td class="text-primary">@order.Address</td>
                                <td>@order.ExpectedDelivery.ToShortDateString()</td>
                                <td>@order.Status</td>
                                <td>@order.Quantity</td>
                                <td>$@order.Price</td>
                                <td>
                                    <a asp-action="OrderDetails" asp-controller="Orders" asp-route-productId="@order.Id" class="genric-btn primary radius text-dark">
                                        View Details
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Table Area =================-->
