@using ChooseAndBuy.Web.ViewModels.Administration.Orders

@model AdminPaneOrdersViewModel

@{
    ViewData["Title"] = "Active Orders";
}

<div class="container">
    <div class="row">
        <partial name="~/Views/Shared/_AdminPanePartial.cshtml" />
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Content Section -->
            <section class="container mt-4 mb-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Address</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Username</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.Orders)
                        {
                            <tr id="@order.Id">
                                <td hidden><button id="ordId" value="@order.Id"></button></td>
                                <td>
                                    <strong>
                                        @order.Address
                                    </strong>
                                </td>
                                <td>@order.OrderDate</td>
                                <td class="statusText-@order.Id">@order.Status</td>
                                <td>@order.Username</td>
                                @if (order.Status == "Delivered" || order.Status == "Canceled" || order.Status == "Returned")
                                {
                            <td>
                                <a class="genric-btn radius text-dark disable">Deliver</a>
                                @if (order.Status == "Returned")
                                {
                                    <button type="button" class="genric-btn warning radius text-dark mt-3" data-toggle="modal" data-target="#reasonModal">
                                        Reason
                                    </button>
                                    <!-- Modal Reason-->
                                    <div id="reasonModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- That is for showing the already returned order reason, need one more for returning with textarea post action-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Return Reason</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p><strong>Return reason:</strong></p>
                                                    <p>@order.ReturnReason</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </td>
                                    <td>
                                        <a class="genric-btn radius text-dark disable">Cancel</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a class="deliverAction genric-btn warning radius text-dark" id="deliverAction-@order.Id">Deliver</a>
                                        <button type="button" id="return-@order.Id" class="genric-btn warning radius text-dark mt-3" data-toggle="modal" data-target="#returnModal">
                                            Return
                                        </button>
                                        <!-- Modal Return-->
                                        <div id="returnModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <!--Need ReturnReasonBindingModel-->
                                                <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h4 class="modal-title">Return Reason</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="col-md-12" method="post" asp-action="Return" asp-controller="Orders">
                                                            <div class="col-md-12">
                                                                <p>Please enter a valid reason for the order's return.</p>
                                                            </div>
                                                            <input asp-for="ReasonModel.OrderId" hidden value="@order.Id" />
                                                            <textarea class="col-md-12" style="height: 100px" asp-for="ReasonModel.ReturnReason"></textarea>
                                                            <span asp-validation-for="ReasonModel.ReturnReason" class="text-danger"></span>
                                                            <div class="row">
                                                                <div class="col text-right">
                                                                    <button type="submit" class="btn btn-primary" value="submit">Return Order</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td><a class="cancelAction genric-btn danger radius text-dark" id="cancelAction-@order.Id">Cancel</a></td>
                                }
                                <td>
                                    <button type="button" class="genric-btn success radius text-dark" data-toggle="modal" data-target="#modal-@order.Id">
                                        Details
                                    </button>
                                </td>
                            </tr>
                            <!-- Modal Details-->
                            <div class="modal fade bd-example-modal-lg" id="modal-@order.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <h5>Details</h5>
                                                    <hr style="height: 3px" />
                                                    <dl class="row">
                                                        <dt class="col-sm-4">Recipient Name</dt>
                                                        <dd class="col-sm-8">@order.Username</dd>
                                                        <dt class="col-sm-4">Order Status</dt>
                                                        <dd class="col-sm-8">@order.Status</dd>
                                                        <dt class="col-sm-4">Products Quantity</dt>
                                                        <dd class="col-sm-8">x@(order.Quantity)</dd>
                                                        <dt class="col-sm-4">Total Price</dt>
                                                        <dd class="col-sm-8">$@order.TotalPrice</dd>
                                                        <dt class="col-sm-4">Payment Method</dt>
                                                        <dd class="col-sm-8">@order.PaymentType</dd>
                                                        <dt class="col-sm-4">Delivery Option</dt>
                                                        <dd class="col-sm-8">@order.DeliveryType</dd>
                                                        <dt class="col-sm-4">Order Date</dt>
                                                        <dd class="col-sm-8">@order.OrderDate</dd>
                                                        <dt class="col-sm-4">Delivery Date</dt>
                                                        @if (order.Status == "Delivered")
                                                        {
                                                            <dd class="col-sm-8">@order.DeliveryDate.Value.ToShortDateString()</dd>
                                                        }
                                                        else if (order.Status == "Canceled" || order.Status == "Returned")
                                                        {
                                                            <dd class="col-sm-8">-</dd>
                                                        }
                                                        else
                                                        {
                                                            <dd class="col-sm-8" id="deliveryDate-@order.Id">In proccess</dd>
                                                        }
                                                    </dl>
                                                </div>
                                                <div class="col-sm-5">
                                                    <h5>Products</h5>
                                                    <hr style="height: 3px" />
                                                    <dl class="row">
                                                        @foreach (var product in order.Products)
                                                        {
                                                            <dt class="col-9">@product.Name</dt>
                                                            <dd class="col-3">x@(product.Quantity)</dd>
                                                        }
                                                    </dl>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </section>
            <!-- End Content Section -->
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".deliverAction").click(function () {

            var ordId = $(this).attr("id");
            ordId = ordId.substring(14, ordId.length);

            var JSONObject = {
                "orderId" : ordId
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("Deliver", "Orders", new { area = "Administration" })",
                data: JSONObject,
                dataType: "json",
                success: function () {
                    $(".statusText-" + ordId).text("Delivered");
                    $(this).addClass("disable");
                    $("#cancelAction-" + ordId).addClass("disable");
                    $("#deliverAction-" + ordId).addClass("disable");
                    $("#return-" + ordId).fadeOut();

                    var d = new Date();

                    var dateString = d.getUTCDate().toString()
                        + '.' + (d.getUTCMonth() + 1).toString()
                        + '.' + d.getFullYear().toString();

                    $("#deliveryDate-" + ordId).text(dateString);
                },
            });
        });

        $(".cancelAction").click(function () {

            var ordId = $(this).attr("id");
            ordId = ordId.substring(13, ordId.length);

            var JSONObject = {
                "orderId" : ordId
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("Cancel", "Orders", new { area = "Administration" })",
                data: JSONObject,
                dataType: "json",
                success: function () {
                    $(".statusText-" + ordId).text("Canceled");
                    $("#cancelAction-" + ordId).addClass("disable");
                    $("#deliverAction-" + ordId).addClass("disable");
                    $("#deliveryDate-" + ordId).text("Canceled");
                    $("#return-" + ordId).fadeOut();
                },
            });
        });
    </script>
}

